<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Home</title>
</head>
<body>
    {% extends "homebase.html" %}
    {% block home %}
    <div class="grid-container">
        <div class="grid-item" >
            <a href="/admin1">Admin Login</a>
        </div>
        <!-- <div class="grid-item">
            <a href="/stafflogin">Staff Login</a>
        </div> -->
        <div class="grid-item">
            <a href="/studentlogin">Student Login</a>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>



